@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:wght@600;700&display=swap");
:root {
  --font-family: "Open Sans", sans-serif;
  --content-width: 1200px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
}

/* lg-размер (<=1199px) */
@media (max-width: 1199px) {
  /* CSS для ширины от 992px до 1199px */
}
/* md-размер (<=991px) */
@media (max-width: 991px) {
  /* CSS для ширины от 768px до 991px */
}
/* sm-размер (<=768px) */
@media (max-width: 767px) {
  /* CSS для ширины от 576px до 767px */
}
/* xs-размер (<=575px) */
@media (max-width: 575px) {
  /* CSS для ширины до 575px (включительно) */
}
/* stylelint-disable */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.header-wrp {
  padding-top: 36px;
  padding-bottom: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #192252;
  font-size: 32px;
  line-height: 39px;
}
.header__action {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #fff;
  background-color: #0E1734;
  padding: 14px 16px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 19px;
}

.header-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-menu__item {
  margin-right: 32px;
}
.header-menu__item:last-child {
  margin-right: 0px;
}
.header-menu__link {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #192252;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}

.screen1 {
  padding-bottom: 80px;
}
.screen1__left {
  max-width: 587px;
}
.screen1__title {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #192252;
  font-size: 48px;
  line-height: 72px;
  margin-bottom: 24px;
}
.screen1__descr {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #848FAC;
  margin-bottom: 32px;
  margin-right: 24px;
}
.screen1__link {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  line-height: 19px;
  padding: 16px 32px;
  background-color: #0E1734;
  border-radius: 3px;
}
.screen1__right {
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.screen1__image {
  width: 180px;
  height: 588px;
  margin-right: 24px;
}
.screen1__image_down {
  margin-top: 81px;
}
.screen1__image-last {
  margin-right: 0px;
}

.screen-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.screen2__left {
  margin-right: 126px;
}
.screen2__image {
  min-width: 384px;
  height: 576px;
}
.screen2__title {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #192252;
  font-size: 36px;
  line-height: 54px;
  margin-bottom: 24px;
}
.screen2__descr {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #848FAC;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 16px;
}
.screen2__link {
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  background-color: #0E1734;
  padding: 16px 32px;
  border-radius: 3px;
}

.screen2-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 80px;
}

.pad20 {
  padding-bottom: 20px;
}

.screen3 {
  padding-bottom: 80px;
  padding-top: 80px;
}
.screen3__left {
  max-width: 584px;
}
.screen3__title {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #192252;
  font-size: 36px;
  line-height: 54px;
  margin-bottom: 24px;
}
.screen3__descr {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #848FAC;
  font-size: 18px;
  line-height: 27px;
}
.screen3__right {
  max-width: 584px;
}

.screen3__image {
  min-width: 384px;
  height: 384px;
  border-radius: 3px;
}

.screen3-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 32px;
}

.screen3-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.screen4__title {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  color: #192252;
  margin-bottom: 24px;
}
.screen4__descr {
  max-width: 588px;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin: 0 auto;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #848FAC;
  padding-bottom: 32px;
}
.screen4__link {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  display: block;
  text-align: center;
  max-width: 165px;
  background-color: #0E1734;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  padding: 16px 32px;
  border-radius: 3px;
  margin: 0 auto;
}
.screen4__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.screen4__item {
  margin-right: 24px;
  -moz-text-align-last: left;
  text-align-last: left;
}
.screen4__item:last-child {
  margin-right: 0px;
}

.screen4-blog {
  padding-top: 88px;
}
.screen4-blog__image {
  max-width: 384px;
  max-height: 489px;
}
.screen4-blog__title {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #192252;
  margin-top: 32px;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 36px;
}
.screen4-blog__descr {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #848FAC;
  padding-bottom: 32px;
  font-size: 18px;
  line-height: 27px;
}
.screen4-blog__link {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  position: relative;
  color: #848FAC;
  padding-bottom: 32px;
  font-size: 18px;
  line-height: 27px;
  cursor: pointer;
}
.screen4-blog__link::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 1px;
  right: -26px;
  background: url(../../img/Arrow_Right.svg);
}

.screen5-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 80px;
}
.screen5__subtitle {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #424F7B;
  font-size: 16px;
  line-height: 24px;
}
.screen5__title {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #192252;
  font-size: 36px;
  line-height: 54px;
  padding-top: 12px;
  padding-bottom: 24px;
}
.screen5__descr {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #848FAC;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 32px;
}
.screen5__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.screen5__item {
  margin-right: 24px;
  background-color: #0E1734;
  padding: 16px 32px;
  border-radius: 3px;
}
.screen5__item:last-child {
  margin-right: 0px;
  background-color: #fff;
}
.screen5__link {
  color: #fff;
}
.screen5__link-last {
  color: #0E1734;
}

.screen5-info {
  max-width: 425px;
}

.screen5-accord {
  max-width: 600px;
}

.ac {
  margin-bottom: 24px;
  -webkit-box-shadow: 2px 1px 12px 6px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 1px 12px 6px rgba(0, 0, 0, 0.15);
}

.ac .ac-trigger {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #192252;
  padding: 32px 36px;
  border-radius: 3px;
}

.ac .ac-panel .ac-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #848FAC;
  padding: 32px 36px;
  padding-top: 0px;
  background-color: #fff;
}

.ac.is-active .ac-panel {
  background-color: #fff;
}

.ac .ac-trigger::after {
  content: url(../../img/arrowDown.svg);
  right: 36px;
  background-color: #FFECE2;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.ac.is-active > .ac-header .ac-trigger::after {
  content: url(../../img/arrowUp.svg);
  background-color: #FF620A;
}
/*# sourceMappingURL=main.css.map */