<header class="header">
  <div class="container">
<div class="header-wrp">
    <div class="header__logo">Cootels</div>
    <nav>
      <ul class="header-menu">
        <li class="header-menu__item"><a href="#" class="header-menu__link">Rooms</a></li>
        <li class="header-menu__item"><a href="#" class="header-menu__link">Reservation</a></li>
        <li class="header-menu__item"><a href="#" class="header-menu__link">Contacs</a></li>
      </ul>
    </nav>
      <a class="header__action" href="#">Get Started</a>
    </div>
  </div>
</header>
