      <section class="screen1">
        <div class="container">
          <div class="screen-wrp">
            <div class="screen1__left">
              <h1 class="screen1__title">Nature, Warmth, and Beauty in One Space</h1>
              <p class="screen1__descr">One place to release all the stress, bring back happines, and get back to nature. We provide the best room and nature for you. Come visit us anytime you want.</p>
              <a href="#" class="screen1__link">Reservation</a>
            </div>
            <div class="screen1__right">
              <picture>
                <source srcset="img/scren11.avif" type="image/avif">
                <source srcset="img/scren11.webp" type="image/webp">
                <img loading="lazy" src="img/scren11.png" class="screen1__image" alt="part house1">
              </picture>
              <picture>
                <source srcset="img/scren12.avif" type="image/avif">
                <source srcset="img/scren12.webp" type="image/webp">
                <img loading="lazy" src="img/scren12.png" class="screen1__image screen1__image_down" alt="part house2">
              </picture>
              <picture>
                <source srcset="img/screen13.avif" type="image/avif">
                <source srcset="img/screen13.webp" type="image/webp">
                <img loading="lazy" src="img/screen13.png" class="screen1__image" alt="part house3">
              </picture>
            </div>
          </div>
        </div>
      </section>