<section class="screen4">
  <div class="container">
    <div class="wrp">
      <h2 class="screen4__title">Many Rooms to Choose</h2>
      <p class="screen4__descr">There is a room for every needs. We have room for individuals until family size, we also have a cabin for more private experience</p>
      <a href="#" class="screen4__link">Explore more</a>
      <div class="screen4-blog">
        <ul class="screen4__list">
          <li class="screen4__item">
            <picture>
              <source srcset="img/blog1.avif" type="image/avif">
              <source srcset="img/blog1.webp" type="image/webp">
              <img loading="lazy" src="img/blog1.jpg" class="screen4-blog__image" alt="part house1">
            </picture>
            <h3 class="screen4-blog__title">Single Room</h3>
            <p class="screen4-blog__descr">Best for a brave lone wolf who need comfort and quiet quality time, but you still have a chance to meet others.</p>
            <a href="#" class="screen4-blog__link">Learn more</a>
          </li>
          <li class="screen4__item">
            <picture>
              <source srcset="img/blog2.avif" type="image/avif">
              <source srcset="img/blog2.webp" type="image/webp">
              <img loading="lazy" src="img/blog2.jpg" class="screen4-blog__image" alt="part house1">
            </picture>
            <h3 class="screen4-blog__title">Double Room</h3>
            <p class="screen4-blog__descr">Best for family or group. One cootage can fit up to 5 people. Made stronger bond with your family or friends</p>
            <a href="#" class="screen4-blog__link">Learn more</a>
          </li>
          <li class="screen4__item">
            <picture>
              <source srcset="img/blog3.avif" type="image/avif">
              <source srcset="img/blog3.webp" type="image/webp">
              <img loading="lazy" src="img/blog3.jpg" class="screen4-blog__image" alt="part house1">
            </picture>
            <h3 class="screen4-blog__title">Cootage</h3>
            <p class="screen4-blog__descr">Best for family or group. One cootage can fit up to 5 people. Made stronger bond with your family or friends</p>
            <a href="#" class="screen4-blog__link">Learn more</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>