<section class="screen3">
  <div class="container">
    <div class="screen3-wrp">
      <div class="screen3-top">
        <div class="screen3__left">
          <h2 class="screen3__title">Cabin Activities</h2>
          <p class="screen3__descr">Don’t worry to get bored easily in our cabin. We have so many cabin activities for you to do it alone or with group. Maybe this is the best chance for you to make new friends or even a lover.</p>
        </div>
        <div class="screen3__right">
          <picture>
            <source srcset="img/screen31.avif" type="image/avif">
            <source srcset="img/screen31.webp" type="image/webp">
            <img loading="lazy" src="img/screen31.jpeg" class="screen3__image" alt="part house2">
          </picture>
        </div>
      </div>
      <div class="screen3-bottom">
        <div class="screen3__left">
          <picture>
            <source srcset="img/screen32.avif" type="image/avif">
            <source srcset="img/screen32.webp" type="image/webp">
            <img loading="lazy" src="img/screen32.jpeg" class="screen3__image" alt="part house2">
          </picture>
        </div>
        <div class="screen3__right">
          <h2 class="screen3__title">100% Organic Food</h2>
          <p class="screen3__descr">We served 100% organic, low process and delicious food. We allow our guest to have breakfast or dinner request.What ever made your taste buds happy.</p>
        </div>
      </div>
    </div>
  </div>
</section>