<section class="screen5">
  <div class="container">
    <div class="screen5-wrp">
      <div class="screen5-info">
        <span class="screen5__subtitle">Start your journey!</span>
        <h2 class="screen5__title">How to Get My Room?</h2>
        <p class="screen5__descr">You can contact us by phone or email us. Easily tap the contact button below and it will take you to our contact point</p>
        <ul class="screen5__list">
          <li class="screen5__item"><a href="#" class="screen5__link">Contact us</a></li>
          <li class="screen5__item"><a href="#" class="screen5__link screen5__link-last">Explore more room</a></li>
        </ul>
      </div>
      <div class="screen5-accord">
        <div class="accordion-container">
          <div class="ac">
            <h2 class="ac-header">
              <button class="ac-trigger">1. Choose a room and date</button>
            </h2>
            <div class="ac-panel">
              <p class="ac-text">Contact us via phone or email, ask for availability of you choice of room. We might offer you something exciting.</p>
            </div>
          </div>
          <div class="ac">
            <h2 class="ac-header">
              <button class="ac-trigger">2. Check for room availability</button>
            </h2>
            <div class="ac-panel">
              <p class="ac-text">Contact us via phone or email, ask for availability of you choice of room. We might offer you something exciting.</p>
            </div>
          </div>
          <div class="ac">
            <h2 class="ac-header">
              <button class="ac-trigger">3. Enjoy your room</button>
            </h2>
            <div class="ac-panel">
              <p class="ac-text">Contact us via phone or email, ask for availability of you choice of room. We might offer you something exciting.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>