
:root {
  // base
  --font-family: "Open Sans", sans-serif;
  --content-width: 1200px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
}
$titleColor : #192252;
$textColor: #848FAC;
$acordTitle: #424F7B;
$whiteColor: #fff;
$btnBak: #0E1734;